@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';

@layer base {
  :root {
    --background: 249 250 251;
    --foreground: 17 24 39;
  }

  .dark {}

  html,
  body,
  #root {
    @apply h-full overflow-hidden;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}